
    #siteholder{
        background-color: darkslategrey;
        max-width: 900px;
        margin-left:auto;
        margin-right:auto;}


    body {
        background-color:black; 
        color: gold;
    }
    
    #tGoto { 
        color: pink;
    }
    #tIjichi {
        color:goldenrod
    }
    #tYamada {
        color: rgba(0, 0, 255, 0.658);
    }
    #tKita {
        color: rgb(255, 0, 55);
    }





    #vidsIndex {
        padding: 1.5%;
        background-color: pink;
        padding-left: 30px;
        padding-right: 20px;
        padding-block: 1.5% 2%;
        border: 5px pink;
        background-clip: padding-box;
        color: palevioletred;
    }



    #oclists,#othoc {
        color:pink;
        background-color:lemonchiffon;
    }
    #bocchititle {
        color: yellow;
        background-color: black;
        font: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #img1 {
        margin-left: 32%;
    }


    
    .header {
        margin:20px;
    }
    
    .header, #tagline {
        float:right;
        padding-right: 20px;
    
    }
    nav {
        padding: 10%;
        background-color: blue;
        padding-block: 1.5% 2%;
        border: 5px dashed yellow;
        background-clip: padding-box;
        color: gray;
        margin-left: auto;
        margin-right: auto;
        }
    .nav > ul {
        overflow:hidden;
        list-style-type: none;
        background-color: #096fa3;
    }
    .nav > ul > li {
        float: right;
        display:block;
        color: white;
        text-align: center;
        padding: 10px;
    }
    .nav > ul > li > a {
        text-decoration: none;
        color: white;
    }
    

    #galleryPics {
        max-width: fit-content;
        padding-left: 2%;
        padding-right: 3%;
        border: 2px solid blue;
        background-clip: padding-box;
    }